footer
  div.container
    div.row
      div.col-md-2.col-sm-3.col-xs-4
        p
          img.img-responsive(src="images/ethereum-logo-navbar.png")

      div.col-md-10.col-sm-9.col-xs-12
        p Ethereum Switzerland GmbH, EDV-Beratungsunternehmen und Softwarehäuser, Grienbachstrasse 55, 6340 Baar, Switzerland #[br]Copyright © 2015 Ethereum. All Rights Reserved.