
footer.scrollme
    div.footer
        div.container

          div.row
            div.col-md-6.developers#developer-resources
              h2 Developer Resources
              ul
                li What is Ether? 
                    a(href='./ether') Read our FAQ
                li Source code on 
                    a(href='http://github.com/ethereum/') GitHub
                li Read the   
                    a(href='http://www.ethdocs.org/') Homestead Documentation
                li Learn the  
                    a(href='https://solidity.readthedocs.org/') Solidity Language
                li Learn more on the Ethereum  
                    a(href='http://ethdocs.org/en/latest/') documentation  
                    | and Ethereum  
                    a(href='https://github.com/ethereum/go-ethereum/wiki/') Go  
                    | Wiki
                li See latest data on 
                    a(href='https://ethstats.net') Network Stats
                li Download our 
                    a(href='assets') Logo assets 
                li Want to write about us? 
                    a(href='mailto:press@ethereum.org ') Press inquiries


            div.col-md-6#about-us
                h2 Ethereum Foundation

                p Ethereum is developed by a worldwide team of passionate developers for the 
                    a(href='./foundation') Ethereum Foundation
                    |, a Swiss nonprofit organization. 

                p 
                    a(href='./donate').donate-button Donate to support development 
                    div.caption (and you can get a unicorn!)
                    

          div.row
            div.col-md-6.community#community
              h2 Community
              ul
                li
                    a(href='http://blog.ethereum.org') Blog
                li
                    a(href='http://twitter.com/ethereumproject').twitter Twitter
                li
                    a(href='https://www.youtube.com/user/ethereumproject').youtube Youtube
                li
                    a(href='http://www.reddit.com/r/ethereum').reddit Reddit
                li
                    a(href='https://gitter.im/orgs/ethereum/rooms').gitter Gitter
                li
                    a(href='http://ethereum.stackexchange.com').stackexchange Stack Exchange
                li
                    a(href='https://www.facebook.com/ethereumproject').facebook Facebook                
                li
                    a(href='http://ethereum.meetup.com').meetups Meetups
                li
                    a(href='mailto:info@ethereum.org').email Email us

                li.canary
                    p The Ethereum Foundation (Stiftung Ethereum) has never been contacted by any agency anywhere in the world in a way which requires that contact not to be disclosed.
                    p Stiftung Ethereum will publicly disclose any sort of inquiry from government agencies that falls outside the scope of regular business operations.

            div.col-md-6.news#news
                h2 Tweets
                a.twitter-timeline(href="https://twitter.com/ethereumproject", data-widget-id="694952013856112640", data-chrome="nofooter noborders transparent noheader", height="360px") Tweets by @ethereumproject
                script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          div.col-md-12
            p.copyright Ethereum Foundation (Stiftung Ethereum), Zug, Switzerland 
            p.footer_links 
                a(href='./privacy-policy') Privacy Policy 
                | &nbsp; &nbsp; 
                a(href='./cookie-policy') Cookie Policy
                | &nbsp; &nbsp; 
                a(href='./terms-of-use') Terms of Use

            p.copyright Copyright ©2017 Ethereum Foundation. All Rights Reserved.
