
footer.scrollme
    div.footer
        div.container

          div.row
            div.col-md-6.developers#developer-resources
              h2 Developer Resources
              ul
                li Get the source code on 
                    a(href='http://github.com/ethereum/') GitHub
                li Read the full user guide at 
                    a(href='http://guide.ethereum.org/') as a GitBook
                li Chat with the developers at 
                    a(href='https://forum.ethereum.org/discussion/1495/chat-with-the-ethereum-community-on-skype-and-irc') IRC, Skype and Gitter
                li Learn more on the 
                    a(href='https://github.com/ethereum/wiki/wiki') Main
                    | , 
                    a(href='https://github.com/ethereum/go-ethereum/wiki/') Go 
                    | and 
                    a(href='https://github.com/ethereum/cpp-ethereum/wiki/') C++ 
                    | Wikis
                li See latest data on 
                    a(href='http://stats.ethdev.com') Network Stats
                li Check the network health 
                    a(href='http://eth-status.org') Network Status
                li Register for our Developer Symposium 
                    a(href='http://devcon.ethdev.com') in London
                li Win bounties by reporting 
                    a(href='http://bounty.ethdev.com') Security Vulnerabilities           


            div.col-md-6#about-us
                h2 Nonprofit development

                p Ethereum is developed by a worldwide team of passionate developers from 
                    a(href='http://ethdev.com') EthDev 
                    | on behalf of the 
                    a(href='./foundation') Ethereum Foundation
                    |, a Swiss nonprofit. 

                h2 Official Programs

                p     
                    a(href='https://forum.ethereum.org/discussion/171/how-to-start-an-ethereum-meetup-faq') Create a meetup 
                    | - 
                    a(href='https://blog.ethereum.org/2015/05/14/announcing-eπ-ethereum-on-raspberry-pi-programme/') Raspberry π 
                    | - 
                    a(href='brand') Branding Guidelines 

          div.row
            div.col-md-6.community#community
              h2 Community
              ul
                li
                    a(href='http://blog.ethereum.org') Blog
                li
                    a(href='http://forum.ethereum.org') Forum
                li
                    a(href='http://twitter.com/ethereumproject').twitter Twitter
                li
                    a(href='https://www.youtube.com/user/ethereumproject').youtube Youtube
                li
                    a(href='http://www.reddit.com/r/ethereum').reddit Reddit
                li
                    a(href='https://www.facebook.com/ethereumproject').facebook Facebook                
                li
                    a(href='http://ethereum.meetup.com').meetups Meetups
                li
                    a(href='mailto:info@ethereum.org').email Email us
                li.canary
                    p Stiftung Ethereum has never been contacted by any agency anywhere in the world in a way which requires that contact not to be disclosed.
                    p Stiftung Ethereum will publicly disclose any sort of inquiry from government agencies that falls outside the scope of regular business operations.

            div.col-md-6.press#press
              h2 Press
              ul
                li
                    span.press-ibtimes IB Times (2015.07.27)
                    a(href='http://www.ibtimes.co.uk/bitcoins-smart-sibling-ethereum-only-game-town-banks-build-blockchains-1512726') Bitcoin's smart sibling Ethereum is 'the only game in town' for banks to build blockchains
                li
                    span.press-recode Re/code (2015.07.07)
                    a(href='http://recode.net/2015/07/05/forget-bitcoin-what-is-the-blockchain-and-why-should-you-care/') Forget Bitcoin — What Is the Blockchain and Why Should You Care?
                li
                    span.press-fast-company Fast Company (2015.06.19)
                    a(href='http://www.fastcompany.com/3047462/the-humans-who-dream-of-companies-that-wont-need-them') The Humans Who Dream Of Companies That Won't Need Us
                li
                    span.press-reason Reason Magazine (2015.04.19)
                    a(href='http://reason.com/blog/2015/03/19/here-comes-ethereum-an-information-techn') Here Comes Ethereum, an Information Technology Dreamed Up By a Wunderkind 19-Year-Old That Could One Day Transform Law, Finance, and Civil Society
                li
                    span.press-forbes Forbes (2014.12.31)
                    a(href='http://www.forbes.com/sites/anthonykosner/2014/12/31/tech-2015-block-chain-will-break-free-from-bitcoin-to-power-distributed-apps/') Tech 2015: Block Chain Will Break Free From Bitcoin To Power Distributed Apps
                li
                    span.press-telegraph The Telegraph (2014.12.10)
                    a(href='http://www.telegraph.co.uk/technology/internet/11284538/Soon-the-internet-will-be-impossible-to-control.html') Soon, the internet will be impossible to control
                li
                    span.press-wired Wired (2014.10.09)
                    a(href='http://www.wired.com/2014/09/ethereum-backers-raise-15-million/') Project To Turn Bitcoin Into An All-powerful Programming Language Raises $15m
                li
                    span.press-wsj Wall Street Journal (2014.08.05)
                    a(href='http://blogs.wsj.com/moneybeat/2014/08/05/bitbeat-ethereum-presale-hits-12-7-million-tally/') BitBeat: Ethereum Presale Hits $12.7 Million Tally
                li
                    span.press-aljazeera AlJazeera (2014.04.07)
                    a(href='http://america.aljazeera.com/articles/2014/4/7/code-your-own-utopiameetethereumbitcoinasmostambitioussuccessor.html') Code your own utopia: Meet Ethereum, bitcoin’s most ambitious successor
                li
                    span.press-bloomberg Bloomberg (2014.03.28)
                    a(href='http://www.bloomberg.com/news/articles/2014-03-28/bitcoin-2-0-shows-technology-evolving-beyond-use-as-money') Bitcoin 2.0 Shows Technology Evolving Beyond Use as Money
                li
                    span.press-new-scientist New Scientist (2014.02.06)
                    a(href='http://www.newscientist.com/article/mg22129553.700-bitcoin-how-its-core-technology-will-change-the-world.html#.VZRHTmCM5SX') Bitcoin: How its core technology will change the world

              a(href='mailto:press@ethereum.org ') Press inquiries 
              a(href='assets') Asset Downloads



          div.col-md-12
            p.copyright Ethereum Switzerland GmbH, EDV-Beratungsunternehmen und Softwarehäuser, Grienbachstrasse 55, 6340 Baar, Switzerland #[br]Copyright © 2015 Ethereum. All Rights Reserved.
