footer.scrollme
    .footer
        .container
          .row.row-footer-news
            .col-md-12.news
                h3 News
                .iframe-wrapper
                  a.twitter-timeline(href="https://twitter.com/ethereum", data-widget-id="694952013856112640", data-chrome="nofooter noborders transparent noheader", width="100%", height="370px") Tweets by @ethereum
                  script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          .row.row-footer-primary
            .col-md-4.community
              h3 Community
              .row
                .col-sm-5
                  ul
                    li
                      a(href='https://blog.ethereum.org', target='_blank')
                        i.fa.fa-rss
                        |  Blog
                    li
                      a(href='https://github.com/ethereum', target='_blank')
                        i.fa.fa-github
                        |  GitHub
                    li
                      a(href='https://www.youtube.com/user/ethereumproject', target='_blank')
                        i.fa.fa-youtube
                        |  YouTube
                    li
                      a(href='https://www.reddit.com/r/ethereum', target='_blank')
                        i.fa.fa-reddit
                        |  Reddit
                    li
                      a(href='https://gitter.im/orgs/ethereum/rooms', target='_blank')
                        i.fa.fa-comments-o
                        |  Gitter
                .col-sm-7
                  ul
                    li
                      a(href='https://twitter.com/ethereum', target='_blank')
                        i.fa.fa-twitter
                        |  Twitter
                    li
                      a(href='https://ethereum.stackexchange.com', target='_blank')
                        i.fa.fa-stack-exchange
                        |  Stack Exchange
                    li
                      a(href='https://www.facebook.com/ethereumproject', target='_blank')
                        i.fa.fa-facebook
                        |  Facebook                
                    li
                      a(href='https://ethereum.meetup.com', target='_blank')
                        i.fa.fa-meetup
                        |  Meetups

            .col-md-4.about-us
                h3 Ethereum Foundation

                p Ethereum is developed by a worldwide team of passionate developers for the 
                    a(href='./foundation') Ethereum Foundation
                    |, a Swiss nonprofit organization. 

                p 
                    a(href='./donate').donate-button Donate to support development 
                    .caption (and you can get a unicorn!)

            .col-md-4.developer-resources
              h3 Developer Resources
              ul
                li What is Ether? 
                  a(href='./ether') Read our FAQ
                li Browse our source code on 
                  a(href='https://github.com/ethereum/', target='_blank') GitHub
                li Read the 
                  a(href='http://www.ethdocs.org/', target='_blank') documentation
                  |
                  | or 
                  a(href='https://github.com/ethereum/wiki/wiki', target='_blank') wiki
                li Learn 
                  a(href='https://solidity.readthedocs.org/', target='_blank') Solidity
                li See the latest 
                  a(href='https://ethstats.net', target='_blank') data and network stats
                li Download our 
                  a(href='./assets') logo assets 
                li Want to write about Ethereum? 
                  a(href='mailto:press@ethereum.org') Press inquiries

          .row.row-footer-copyright
            .col-md-12
              p.copyright Copyright &copy; 2018 Ethereum Foundation (Stiftung Ethereum), Zug, Switzerland. All Rights Reserved.
              p.footer-links 
                  a(href='./privacy-policy') Privacy Policy 
                  | &nbsp; &nbsp; 
                  a(href='./cookie-policy') Cookie Policy
                  | &nbsp; &nbsp; 
                  a(href='./terms-of-use') Terms of Use

          .row.row-footer-canary
            .col-md-12
                .canary
                    p The Ethereum Foundation (Stiftung Ethereum) has never been contacted by any agency anywhere in the world in a way which requires that contact not to be disclosed.
                    p Stiftung Ethereum will publicly disclose any sort of inquiry from government agencies that falls outside the scope of regular business operations.
