footer
  div.container
    div.row
      div.col-md-12
        p Ethereum Switzerland GmbH, EDV-Beratungsunternehmen und Softwarehäuser, Grienbachstrasse 55, 6340 Baar, Switzerland
        p Copyright © 2015 Ethereum. All Rights Reserved.