
footer.scrollme
    div.footer
        div.container

          div.row
            div.col-md-6.developers#developer-resources
              h2 Developer Resources
              ul
                li What is Ether? 
                    a(href='./ether') Read our FAQ
                li Source code on 
                    a(href='http://github.com/ethereum/') GitHub
                li Read the   
                    a(href='https://ethereum-homestead.readthedocs.org/') Homestead Documentation
                li Learn the  
                    a(href='https://solidity.readthedocs.org/') Solidity Language
                li Learn more on the 
                    a(href='https://github.com/ethereum/wiki/wiki') Main
                    | , 
                    a(href='https://github.com/ethereum/go-ethereum/wiki/') Go 
                    | and 
                    a(href='https://github.com/ethereum/webthree-umbrella/wiki/') C++ 
                    | Wikis
                li See latest data on 
                    a(href='https://ethstats.net') Network Stats
                li Download our 
                    a(href='assets') Logo assets 
                //- li But please read our 
                //-     a(href='brand') Branding Guidelines 
                li Want to write about us? 
                    a(href='mailto:press@ethereum.org ') Press inquiries 


                //- Begin MailChimp Signup Form 
                //- link(href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css", rel="stylesheet" type="text/css")
                //- style
                //-     |    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                //- div#mc_embed_signup
                //- form(action="//ethereum.us12.list-manage.com/subscribe/post?u=442f710482bd017d50055c6cd&amp;id=b72841a090", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
                //-     div#mc_embed_signup_scroll
                //-     label(for="mce-EMAIL") Subscribe to our mailing list
                //-     input(type="email", value="", name="EMAIL", class="email", id="mce-EMAIL", placeholder="email address", required)
                //-     //-  real people should not fill this in and expect good things - do not remove this or risk form bot signups
                //-     div(style="position: absolute; left: -5000px;", aria-hidden="true")
                //-         input(type="text", name="b_442f710482bd017d50055c6cd_b72841a090", tabindex="-1", value="")
                //-     div.clear
                //-         input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="button")
                    
                //- End mc_embed_signup


            div.col-md-6#about-us
                h2 Ethereum Foundation

                p Ethereum is developed by a worldwide team of passionate developers for the 
                    a(href='./foundation') Ethereum Foundation
                    |, a Swiss nonprofit organization. 

                p 
                    a(href='./donate').donate-button Donate to support development 
                    div.caption (and you can get a unicorn!)
                    

          div.row
            div.col-md-6.community#community
              h2 Community
              ul
                li
                    a(href='http://blog.ethereum.org') Blog
                li
                    a(href='http://twitter.com/ethereumproject').twitter Twitter
                li
                    a(href='https://www.youtube.com/user/ethereumproject').youtube Youtube
                li
                    a(href='http://www.reddit.com/r/ethereum').reddit Reddit
                li
                    a(href='http://ethereum.stackexchange.com').stackexchange Stack Exchange
                li
                    a(href='https://www.facebook.com/ethereumproject').facebook Facebook                
                li
                    a(href='http://ethereum.meetup.com').meetups Meetups
                li
                    a(href='mailto:info@ethereum.org').email Email us
                li.canary
                    p The Ethereum Foundation (Stiftung Ethereum) has never been contacted by any agency anywhere in the world in a way which requires that contact not to be disclosed.
                    p Stiftung Ethereum will publicly disclose any sort of inquiry from government agencies that falls outside the scope of regular business operations.

            div.col-md-6.news#news
                h2 Tweets
                a.twitter-timeline(href="https://twitter.com/ethereumproject", data-widget-id="694952013856112640", data-chrome="nofooter noborders transparent noheader", height="360px") Tweets by @ethereumproject
                script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



          div.col-md-12
            p.copyright The Ethereum Foundation, Zug, Switzerland #[br]Copyright © 2016 Ethereum. All Rights Reserved.
