
footer.scrollme
    div.footer
        div.container

          div.row
            div.col-md-6.developers#developer-resources
              h2 Developer Resources
              ul
                li Source code on 
                    a(href='http://github.com/ethereum/') GitHub
                li Read the full user guide at 
                    a(href='http://guide.ethereum.org/') as a GitBook
                li Learn the  
                    a(href='https://solidity.readthedocs.org/') Solidity Language
                li Learn more on the 
                    a(href='https://github.com/ethereum/wiki/wiki') Main
                    | , 
                    a(href='https://github.com/ethereum/go-ethereum/wiki/') Go 
                    | and 
                    a(href='https://github.com/ethereum/webthree-umbrella/wiki/') C++ 
                    | Wikis
                li See latest data on 
                    a(href='http://stats.ethdev.com') Network Stats
                li Download our 
                    a(href='assets') Logo assets 
                //- li But please read our 
                //-     a(href='brand') Branding Guidelines 
                li Want to write about us? 
                    a(href='mailto:press@ethereum.org ') Press inquiries 


            div.col-md-6#about-us
                h2 Ethereum Foundation

                p Ethereum is developed by a worldwide team of passionate developers for the 
                    a(href='./foundation') Ethereum Foundation
                    |, a Swiss nonprofit organization. 

                p 
                    a(href='donate').donate-button How to support development 
                    

          div.row
            div.col-md-6.community#community
              h2 Community
              ul
                li
                    a(href='http://blog.ethereum.org') Blog
                li
                    a(href='http://twitter.com/ethereumproject').twitter Twitter
                li
                    a(href='https://www.youtube.com/user/ethereumproject').youtube Youtube
                li
                    a(href='http://www.reddit.com/r/ethereum').reddit Reddit
                li
                    a(href='https://www.facebook.com/ethereumproject').facebook Facebook                
                li
                    a(href='http://ethereum.meetup.com').meetups Meetups
                li
                    a(href='mailto:info@ethereum.org').email Email us
                li.canary
                    p Stiftung Ethereum has never been contacted by any agency anywhere in the world in a way which requires that contact not to be disclosed.
                    p Stiftung Ethereum will publicly disclose any sort of inquiry from government agencies that falls outside the scope of regular business operations.
            
            div.col-md-6.news#news
                h2 Tweets
                a.twitter-timeline(href="https://twitter.com/ethereumproject", data-widget-id="694950302303309824", data-chrome="nofooter noborders transparent noheader", height="360px") Tweets by @ethereumproject
                script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



          div.col-md-12
            p.copyright Ethereum Stiftung Ethereum, Zug, Switzerland #[br]Copyright © 2015 Ethereum. All Rights Reserved.
