header
  div.container
    div.row
      div.col-md-6
        img.logo(src="images/ethereum-logo-navbar.png")
      div.col-md-6.text-right
        span Current block: #146118
        div.small dea5342d507a30c49e6298b10d44dc5e047a27260a284dc78f6c96781c6f6e58
      div.col-md-12.text-center
        h1= title
        h2 One-liner installer for Ethereum CLI