header
  div.container
    div.row
      div.col-md-4
        img.logo(src="images/ethereum-logo-navbar.png")
      div.col-md-8.text-right
        span Current block: ##{block.number}
        div.small= block.hash
      div.col-md-12.text-center
        h1= title
        h2 One-liner installer for Ethereum CLI