header
  div.container
    div.row
      div.col-md-12.text-center

#block-content
  div.container
    div.row
      div.col-md-2
        h6 Block number
        span ##{block.number}

      div.col-md-8.text-center
        h6 Block hash
        span(style="color: #eb453e;")= block.hash

      div.col-md-2.text-right
        h6 Block time
        span= block.timestamp