//-
  header
  div.title Ethereum Frontier 0.1 Release 

  #block-content
    div.container
      div.row.status-bar
        div.col-md-2
          h6 Block number
          span ##{block.number}

        div.col-md-8.text-center
          h6 Block hash
          span.block-hash= block.hash

        div.col-md-2.text-right
          h6 Block time
          span= block.timestamp