include ../mixins/recipes.pug

.main-tutorial.inner-header.token-tutorial
  .container  
    .row
      .col-md-12
        .row
          .col-md-12.scrollme
            h2.animateme(data-when="span", data-from="0.5", data-to="0", data-opacity="0", data-translatey="200") Learn 
              strong Solidity
              | , a new language for smart contracts
              
        +tokenRecipe

.main-tutorial.even.inner-header.crowdsale-tutorial#crowdsale
  .container   
    .row
      .col-md-12
        +crowdsaleRecipe

.main-tutorial.dao-tutorial.inner-header
  .container   
    .row
      .col-md-12
        +daoRecipe

.main-tutorial.inner-header.even.ethereum-projects 
  .container   
    .row
      .col-md-12
        +futureRecipe


