extends layout

block vars
  - var title='Page not Found'
  - var url='404'

block content
  include mixins/recipes.pug
  +inner-header("Page Not Found")

  .main-tutorial.inner-page.inner-tutorial
    .container  
      .row
        .col-md-6.text-center.col-md-offset-3
          .bad-robot
            img(src='images/bad-robot@2x.png', width='113')
          
          include:markdown-it content/404.md        

          a.button.small(href='https://ethereum.org') Improve the world

        




          

