extends layout

block vars
  - var title='Asset downloads'
  - var url='assets'

block content
  include mixins/recipes.jade
  +inner-header("Assets for Download")

  div.main-tutorial.inner-page.press-kit
    div.container
      div.row
        div.col-md-12
          include:md content/press-kit.md

  div.main-tutorial.inner-page.press-kit
    div.container
      div.row
        div.col-md-12.center
          h2 Read this before downloading

          p If you are not writing an article about Ethereum and want to use our logo for other purposes, please read carefully our 
            a(href='./brand') branding guidelines and legal framework 
            | before proceeding. 

          p Also please follow the 
            a(href='/images/logos/Ethereum_Visual_Identity_1.0.0.pdf') Ethereum Visual Identity Guide
            |:

          p.center
            a(href="/images/logos/Ethereum_Visual_Identity_1.0.0.pdf")
              img(alt="Ethereum Visual Identity Guide", src="images/logos/Ethereum_Visual_Identity_1.0.0.png", width="400")



  div.main-tutorial.inner-page.press-kit.even
    div.container
      div.row
        div.col-md-12
          h2 Download Assets

          h3.center Logos
          div.asset-download
            a(href="images/logos/ETHEREUM-ICON_Black.png")
              img(alt="Ethereum Octaedron", src="images/logos/ETHEREUM-ICON_Black_small.png", width="250")

            a(href="images/logos/ETHEREUM-LOGO_PORTRAIT_Black_small.png")
              img(alt="Ethereum Landscape", src="images/logos/ETHEREUM-LOGO_PORTRAIT_Black_small.png", width="250")

            a(href="images/logos/ETHEREUM-LOGO_LANDSCAPE_Black.png")
              img(alt="Ethereum Portrait", src="images/logos/ETHEREUM-LOGO_LANDSCAPE_Black_small.png", width="250")

          h3.center Milestone images


        div.col-md-6
          a(href="images/wallpaper-frontier.jpg")
            img(alt="Ethereum Homestead Landscape", src="images/wallpaper-frontier-small.png", width="400")

        div.col-md-6
          a(href="images/wallpaper-homestead-small.jpg")
            img(alt="Ethereum Homestead Landscape", src="images/wallpaper-homestead.jpg", width="400")

  div.main-tutorial
    div.container
      div.row
        div.col-md-12
          h3.center Brand images
          p Public domain images to illustrate your blog, article or even your display

        
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-1.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-1.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-2.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-2.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-3.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-3.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-4.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-4.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-5.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-5.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-6.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-6.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-7.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-7.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-8.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-8.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-9.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-9.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-10.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-10.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-11.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-11.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-12.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-12.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-13.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-13.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-14.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-14.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-15.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-15.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-16.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-16.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-17.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-17.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-18.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-18.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-19.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-19.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-20.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-20.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-21.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-21.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-22.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-22.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-23.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-23.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-24.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-24.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-25.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-25.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-26.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-26.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-27.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-27.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-28.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-28.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-29.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-29.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-30.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-30.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-31.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-31.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-32.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-32.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-33.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-33.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-34.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-34.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-35.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-35.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-36.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-36.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-37.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-37.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-38.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-38.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-39.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-39.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-40.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-40.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-41.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-41.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-42.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-42.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-43.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-43.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-44.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-44.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-45.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-45.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-46.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-46.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-47.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-47.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-48.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-48.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-49.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-49.jpg", width='190')
           br
       div.col-md-3
         a(href="images/assets/1900/Ethereum-homestead-background-50.jpg")
           img(src="images/assets/thumb/Ethereum-homestead-background-50.jpg", width='190')

      div.col-md-12
        br
        br
        br


