extends layout

block content
  include mixins/recipes.jade
  +inner-header("Branding Guidelines")

  div.main-tutorial.inner-page.press-kit
    div.container  
      div.row
        div.col-md-12
          include:md content/branding.md        


          

