extends layout

block vars
  - var title='Branding Guidelines'

block content
  include mixins/recipes.jade
  +inner-header("Branding Guidelines")


  div.main-tutorial.inner-page.even
    div.container
      div.row
        div.col-md-12.center
          h2.center Ethereum Visual Identity Guide
          p If you are a designer using our logo in a work, please download the following PDF: 
            a(href='/images/logos/Ethereum_Visual_Identity_1.0.0.pdf') Ethereum Visual Identity Guide
            |:            
          p.center
            a(href="/images/logos/Ethereum_Visual_Identity_1.0.0.pdf")
              img(alt="Ethereum Visual Identity Guide", src="images/logos/Ethereum_Visual_Identity_1.0.0.png", width="400")

  div.main-tutorial.inner-page.brand
    div.container
      div.row
        div.col-md-12
          include:md content/branding.md




