extends layout

block vars
  - var title='Branding Guidelines'
  - var url='brand'

block content
  include mixins/recipes.pug
  +inner-header("Branding Guidelines")

  .main-tutorial.inner-page.even
    .container
      .row
        .col-md-12.text-center
          h2.text-center Ethereum Visual Identity Guide
          p If you are a designer using our logo in a work, please download the following PDF: 
            a(href='/images/logos/Ethereum_Visual_Identity_1.0.0.pdf') Ethereum Visual Identity Guide
            |:            
          p.text-center
            a(href="/images/logos/Ethereum_Visual_Identity_1.0.0.pdf")
              img(alt="Ethereum Visual Identity Guide", src="images/logos/Ethereum_Visual_Identity_1.0.0.png", width="400")

  .main-tutorial.inner-page.brand
    .container
      .row
        .col-md-12
          include:markdown-it content/branding.md
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/branding.md') Improve this page




