extends layout

block vars
  - var title='Install the Command Line Tools'
  - var url='cli'
  - var image='cli'

block content
  include mixins/recipes.jade

  div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum 
    strong » Command line tools 
    a(href="/greeter").next Next

  div#tutorial-start.main-tutorial.cli-tutorial.inner-header.inner-page.even
    div.container
      div.row
        div.col-md-6.tutorial.scrollme
          +gethFigureExit

        div.col-md-6.tutorial.scrollme
          div.header-title
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") Geth & Eth
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear") Command line tools for the Ethereum Network

  div.main-tutorial.inner-tutorial
    div.container
      div.row
        +toc
        div.col-md-12
          include:md content/cli.md
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/cli.md') Improve this page

  div.main-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial
          +greeterRecipe("What's next?")


  script
    |  ((window.gitter = {}).chat = {}).options = {
    |    room: 'ethereum/go-ethereum'
    |  };

  script(src="https://sidecar.gitter.im/dist/sidecar.v1.js", async, defer)
