extends layout

block vars
  - var title='Cookie Policy'
  - var url='privacy-policy'


block content
  include mixins/recipes.pug
  .breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum 
    strong »  Cookie Policy

  .main-tutorial.even
    .container
      .row
        .col-md-12
          h2 Cookie Policy
          include:markdown-it content/cookie.md
          .cookie_table
            table
                thead
                    th Cookie
                    th Name
                    th Purpose
                    tbody
                        tr
                            td Google Analytics
                            td _ga
                            td Used to distinguish users. Enables us to identify which pages are popular, estimate our audience size and usage pattern, and better understand how the web site is used.
                        tr
                            td Google Analytics GID
                            td _gid
                            td Used to distinguish users. Enables us to identify which pages are popular, estimate our audience size and usage pattern, and better understand how the web site is used.
                        tr
                            td Google Analytics Throttle
                            td _gat
                            td Used to throttle request rate. This cookie does not store any user information. It is used by Google limit the number of requests that have to be made to doubleclick.net (which will be zero in our case because we do not use any ads on our site).
                        tr
                            td WordPress Comment Author URL
                            td comment_author_url
                            td Used only when users comment on the Ethereum Blog. Stores a URL entered by the user in a previous comment so that, when the user wishes to post a comment in the future, the URL may be automatically entered into the comment form.
                        tr
                            td WordPress Comment Author Email
                            td comment_author_email
                            td Used only when users comment on the Ethereum Blog. Stores an email address entered by the user in a previous comment so that, when the user wishes to post a comment in the future, the email address may be automatically entered into the comment form. 
                        tr
                            td WordPress Author Name
                            td comment_author
                            td Used only when users comment on the Ethereum Blog. Stores a name entered by the user in a previous comment so that, when the user wishes to post a comment in the future, the name may be automatically entered into the comment form. 
                        tr
                            td WordPress Author Name
                            td wp_woocommerce_session
                            td Used only when users add an item to a shopping cart. Stores an id so that the user may continue shopping at a later time without having to register for an account.
                        tr
                            td WooCommerce Cart Hash
                            td woocommerce_cart_hash
                            td Used only when users add an item to a shopping cart. Stores shopping cart information so that the user may continue shopping at a later time without having to register for an account. 
                        tr
                            td WooCommerce Items In Cart
                            td woocommerce_items_in_cart
                            td Used only when users add an item to a shopping cart. Stores shopping cart information so that the user may continue to shopping at a later time without having to register for an account.  

          p.cookie_pol You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies), you may not be able to access all or parts of our sites. 
          p.cookie_pol Except for essential cookies, all cookies will expire after two years.
          p.cookie_pol Last Updated: July 2018