extends layout

block content
  include mixins/recipes.jade
  +inner-header("Create your meetup!")

  div.main-tutorial.inner-page
    div.container  
      div.row
        div.col-md-12
          include:md content/create-meetup.md        





          

