extends layout

block vars
  - var title='Create a Democracy contract in Ethereum'
  - var url='dao'
  - var image='dao'

block content
  include mixins/recipes.pug
  .breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum
    strong »  Start a democratic organization
    a(href="/crowdsale").previous Previous

  div#tutorial-start.main-tutorial.dao-tutorial.inner-header.inner-page.even
    .container
      .row
        .col-md-6.tutorial.scrollme
          +daoFigureExit

        .col-md-6.tutorial.scrollme
          .header-title
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear") How to build a
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") Democracy
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear") on the blockchain


  .main-tutorial.inner-tutorial
    .container
      .row.scrollme
        +toc
        .col-md-12
          include:markdown-it(plugins=['markdown-it-include']) content/dao.md
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/dao.md') Improve this page


  .main-tutorial.ethereum-projects.even
    .container
      .row
        .col-md-12
          +futureRecipe("What's next?")
