extends layout

block vars
  - var title='DevCon2'
  - var url='devcon2'

block content
  include mixins/recipes.jade
  +inner-header("Save the date: X/Y/16 to Z/Y/16")(class='devcon2')

  div.main-tutorial.inner-page.inner-tutorial
    div.container  
      div.row                
        +toc
        div.col-md-12
          include:md content/devcon2.md        

  div.main-tutorial.inner-page.even
    div.container  
      div.row
        div.col-md-12.center

          h3 Be the first to know more

          input(type='text', placeholder='add your email to our list').big-subscribe


  div.main-tutorial.inner-page.inner-tutorial
    div.container  
      div.row                
        div.col-md-12.center         

          h3 Sponsorhip positions available
          h4 
            a(href='mailto:devcon2@ethereum.org') Contact us
          



          

