extends layout

block vars
  - var title='What is Ether'
  - var url='ether'
  - var image='ether'

block content
  include mixins/recipes.pug

  .breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum 
    strong » Ether

  div#tutorial-start.main-tutorial.ether-tutorial.inner-header.inner-page.even
    .container
      .row
        .col-md-6.tutorial.scrollme
          +etherFigure

        .col-md-6.tutorial.scrollme
          .header-title
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") Ether
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear")  The crypto-fuel for the Ethereum network

  .main-tutorial.inner-tutorial.ether-tutorial
    .container
      .row
        .col-md-12
          h2 What is Ether?

          p Ether is a necessary element — a fuel — for operating the distributed application platform Ethereum. It is a form of payment made by the clients of the platform to the machines executing the requested operations. To put it another way, ether is the incentive ensuring that developers write quality applications (wasteful code costs more), and that the network remains healthy (people are compensated for their contributed resources).

          p
            strong If you just want to test the technology, you probably don't need real ether. 
              a(href='https://github.com/ethereum/mist/releases/latest') Download the latest Wallet app 
              | and switch to the Test Network


  .main-tutorial.ether-checker.even#balance
    .container
      .row
        .col-md-12
          h2 Did you buy ether during the presale?
          h3 Check your ether presale balance safely here:
          form#ether-checker
            input(type="text" name="address" placeholder="Ether address")
            input(class="button btn btn-blue" type="submit" value="Check your balance")


  .main-tutorial.inner-tutorial.ether-tutorial
    .container
      .row
        .col-md-12
          include:markdown-it content/ether.md
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/ether.md') Improve this page

  .main-tutorial.even
    .container
      .row
        .col-md-12.tutorial
            +gethRecipe("What's next?")