extends layout

block vars
  - var title='Get Ether'

block content
  include mixins/recipes.jade
  include warning.jade

  div.breadcrumb.animateme(data-when="span", data-from="0.9", data-to="0.2", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum Frontier
    strong »  Get Ether
    a(href="/cli").previous Previous
    a(href="/greeter").next Next


  div#tutorial-start.main-tutorial.hidden.inner-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial.scrollme
          +etherFigure

          h2.animateme(data-when="span", data-from="0.6", data-to="0.3", data-opacity="0", data-translatey="200") Get Ether

          h3.center.animateme(data-when="span", data-from="0.7", data-to="0.5", data-opacity="0", data-translatey="200") The crypto-fuel for the Ethereum network

          a(href="#warning").cannot-continue You cannot continue until you read and understand the dangers

  div.main-tutorial.hidden.inner-tutorial.ether-tutorial
    div.container
      div.row
        div.col-md-12
          +thawing
          include:md content/ether.md

  div.main-tutorial.ether-checker.even#balance
    div.container
      div.row
        div.col-md-12
          h2 Did you buy ether during the presale?
          h3 Check your ether presale balance safely here:
          form#ether-checker
            input(type="text" name="address" placeholder="Ether address")
            input(class="button btn btn-blue" type="submit" value="Check your balance")

  div.main-tutorial.hidden
    div.container
      div.row
        div.col-md-12.tutorial
            +greeterRecipe("What's next?")







