extends layout

block content

  div.inner-header.scrollme
    div.breadcrumb.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20") 
      a(href="/").index Ethereum Frontier 
      | »  
      strong About the Ethereum Foundation 

    figure.ethereum-logo.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="120", data-opacity="0.5", data-scale="0.6", data-easing="linear")

    h3.center.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="30", data-opacity="0", data-scale="0.7", data-easing="linear")  About the Ethereum Foundation


  div.main-tutorial.inner-page.foundation-page
    div.container  
      div.row
        div.col-md-12
          include:md content/foundation.md        





          

