extends layout

block vars
  - var title='About the Ethereum Foundation'
  - var url='foundation'

block content
  include mixins/recipes.jade
  +inner-header("About the Ethereum Foundation")

  div.main-tutorial.inner-page.foundation-page
    div.container  
      div.row
        div.col-md-12
          include:md content/foundation.md        

  div.main-tutorial.inner-page.foundation-page.even
    div.container  
      div.row
        div.col-md-12
          include:md content/timeline.md        

        




          

