extends layout

block vars
  - var title='About the Ethereum Foundation'
  - var url='foundation'

block content
  include mixins/recipes.jade
  +inner-header("About the Ethereum Foundation")

  div.main-tutorial.inner-page.foundation-page
    div.container  
      div.row
        div.col-md-12.even
            h2 Ethereum Timeline 

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Nov 2013
                    h5 Vitalik releases whitepaper

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Dec 2013
                    h5 Client development begins
                    span    Gavin
                    span    Jeff

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Jan 2014
                    h5 Bitcoin Miami
                    span    Anthony
                    span    Joe
                    span    Charles
                    span    Amir
                    span    Taylor

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Feb 2014
                    h5 European operations
                    span    Mihai
                    span    Stephan

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Apr 2014
                    h5 Bitcoin Expo Toronto
                    hr

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 July 2014
                    h5 Crowdsale
                    hr

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 December 2014
                    h5 Devcon 0
                    hr

        
            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Dec 2014
                    h5 Devcon0

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Feb 2015
                    h5 Olmypic test network launch

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 July 2015
                    h5 Frontier public network launch

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Nov 2015
                    h5 Devcon 1

            div.scrollme
                div.animateme(data-when="enter", data-from="1", data-to="0", data-opacity="0")
                    h4 Jan 2016
                    h5 Homestead network updates

        div.col-md-12
          include:md content/foundation.md        





          

