extends layout

block vars
  - var title='About the Ethereum Foundation'
  - var url='foundation'

block content
  include mixins/recipes.pug
  +inner-header("About the Ethereum Foundation")



  .main-tutorial.inner-page.foundation-page
    .container  
      .row
        .col-md-12
          include:markdown-it content/foundation.md        
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/foundation.md') Improve this page

  .main-tutorial.inner-page.foundation-page.even
    .container.scrollme  
      .row.animateme(data-when="enter", data-from="0.9", data-to="0.1", data-opacity="0", data-scale="0.8")
        .col-md-12
          include:markdown-it content/timeline.md