extends layout

block vars
  - var title='Create a Hello World Contract in ethereum'
  - var url='greeter'
  - var image='greeter'

block content
  include mixins/recipes.pug


  div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum 
    strong » Create a digital greeter
    a(href="/cli").previous Previous
    a(href="/token").next Next

  div#tutorial-start.main-tutorial.ether-tutorial.inner-header.inner-page.even
    div.container
      div.row
        div.col-md-6.tutorial.scrollme
          +greeterFigure

        div.col-md-6.tutorial.scrollme
          div.header-title
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") The Greeter
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear")  Your Digital Pal Who's Fun to Be With


  div.main-tutorial.inner-tutorial
    div.container
      div.row
        +toc
        div.col-md-12
          include:markdown-it content/greeter.md
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/greeter.md') Improve this page

  div.main-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial
          +tokenRecipe("What's next?")




  script
    |  ((window.gitter = {}).chat = {}).options = {
    |    room: 'ethereum/go-ethereum'
    |  };

  script(src="https://sidecar.gitter.im/dist/sidecar.v1.js", async, defer)

