extends layout

block vars
  - var title='Create a Hello World Contract in ethereum'
  - var url='greeter'
  - var image='greeter'

block content
  include mixins/recipes.jade

  div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum Frontier
    strong » Create a digital greeter
    a(href="/cli").previous Previous
    a(href="/token").next Next

  div#tutorial-start.main-tutorial.inner-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial.scrollme

          +greeterFigure

          h2 The Greeter
          h3.center Your Digital Pal Who's Fun to Be With

  div.main-tutorial.inner-tutorial
    div.container
      div.row
        div.col-md-12
          include:md content/greeter.md

  div.main-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial
          +tokenRecipe("What's next?")
