extends layout

block vars
  - var title='Create a Hello World Contract in ethereum'

block content
  include mixins/recipes.jade
  include warning.jade

  div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum Frontier
    strong » Create a digital greeter
    a(href="/ether").previous Previous
    a(href="/token").next Next

  div#tutorial-start.main-tutorial.hidden.inner-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial.scrollme

          +greeterFigure

          h2.animateme(data-when="span", data-from="0.6", data-to="0.3", data-opacity="0", data-translatey="200") The Greeter

          h3.center.animateme(data-when="span", data-from="0.7", data-to="0.5", data-opacity="0", data-translatey="200") Your Digital Pal Who's Fun to Be With

          a(href="#warning").cannot-continue You cannot continue until you read and understand the dangers

  div.main-tutorial.hidden.inner-tutorial
    div.container
      div.row
        div.col-md-12
          +thawing
          include:md content/greeter.md

  div.main-tutorial.hidden.even
    div.container
      div.row
        div.col-md-12.tutorial
          +tokenRecipe("What's next?")
