extends layout

block content
  div.container.main-content
    div.row
      div.col-md-12
        h2 Install Ethereum

        pre ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Ethereum/install/master/install)"

      div.col-md-6 Paste that at a Terminal prompt.
      div.col-md-6.text-right ...

      div.clearfix
        br

    div.clearfix
      br

    div.row
      div.col-md-12
        h2 What does this script do
        p This script will detect your OS and install go-ethereum CLI.

    div.clearfix
      br

    div.row
      div.col-md-12
        h2 Supported platforms
        p We currently support Mac OS X and Linux. For more information about installing ethereum on other platforms please visit our #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/wiki/Building-Ethereum(Go)") wiki page] about how to build go-ethereum on other platforms.

    div.clearfix
      br

    div.row
      div.col-md-12
        h2 Next steps
        p If the install was successful you can now run ethereum using the following command line in the Terminal prompt:

        pre ethereum

        p Run #[code ethereum -help] for more information about command line options or check our #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/wiki") documentation].

    div.clearfix
      br

    div.row
      div.col-md-12
        h2 Troubleshooting
        p If something went wrong first read our Troubleshooting checklist. If you still didn't find your answer please #[a(href="") open an issue on GitHub] or contact our #[a(href="#") help desk].

    div.clearfix
      br

    div.row
      div.col-md-12
        h2 Security
        p Please report security issues to #[a(href="mailto:security@ethereum.org") security@ethereum.org].

    div.clearfix
      br

    div.row
      div.col-md-12
        h2 License
        p Ethereum Core Protocol licensed under the #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/blob/develop/LICENSE") GNU Lesser General Public License]. #[br]Ethereum client licensed under the GPL.

    div.clearfix
      br