extends layout

block content
  div.container.main-content
    div.row
      div.col-md-12
        h2 Install Ethereum

        pre ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Ethereum/install/master/install)"

      div.col-md-6 Paste that at a Terminal prompt.