extends layout

block vars
  - var title='Ethereum Project'



block content
  div.main-tutorial.scrollme.intro
    div.scrollme.row.introduction.animateme(data-when="span", data-from="0", data-to="1", data-opacity="0.2", data-translatey="300", data-easing="linear")
      h1.animateme(data-when="span", data-from="0", data-to="1", data-scale="0.75", data-translatey="100", data-easing="linear") Ethereum Homestead: Build unstoppable applications

  div.main-content
    div.container
      div.row        
        div.col-md-6.whatis
          h2 Build unstoppable applications

          p Ethereum is a 
            strong decentralized platform that runs smart contracts
            | : applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third party interference.

          p These apps run on a custom built 
            strong blockchain, an enormously powerful shared global infrastructure that can move value around and represent the ownership of property. 
            | This enables developers to create markets, store a registry of debts or promises, move funds in accordance with instructions given long in the past (like a will or a futures contract) and many other things that have not been invented yet, all without a middle man or counterparty risk.

          p The project was crowdfunded during August 2014 by fans all around the world. It is developed by ETHDEV with contributions from great minds across the globe.
        
        div.col-md-6.whatis.scrollme
          figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.2", data-to="0.4", data-opacity="0")
            div.explain-01.animateme(data-when="span", data-from="0.2", data-to="0", data-opacity="0")
          
          figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.4", data-to="0.6", data-opacity="0")
            div.explain-02.animateme(data-when="span", data-from="0.4", data-to="0.2", data-opacity="0")
          
          figure.ethereum-explain.scrollme
            div.explain-03.animateme(data-when="span", data-from="0.6", data-to="0.4", data-opacity="0")
            


          //- figure.ethereum-network(data-when="enter", data-from="1", data-to="0", data-opacity="0.5", data-translatey="-50", data-scale="0.75").animateme
          
          h6.caption(data-when="span", data-from="0.2", data-to="0", data-opacity="0").animateme On traditional server architectures, each node runs their own code and is responsible for its security, making data sharing hard and keeping the sensitive data on central locations
          h6.caption(data-when="span", data-from="0.4", data-to="0.2", data-opacity="0").animateme On a Blockchain, each node runs a fraction of the work and contains all the encrypted data. 
          h6.caption(data-when="span", data-from="0.6", data-to="0.4", data-opacity="0").animateme Allowing user data to be remain private and apps decentralized, like the Internet was supposed to work. 
          

          //- h6.caption(data-when="enter", data-from="1", data-to="0", data-opacity="0.5", data-translatey="-50", data-scale="0.75").animateme Blockhains allows any number of parties to reach agreements without the need of trusting a central node or each other


        div.clear.clearfix#download-tools
        
        div.col-md-6.whatis          
          h2 Smart money, smart wallet
           
          p The Ethereum Wallet is a gateway to the decentralised applications on the Ethereum blockchain. It allows you to hold and secure ether and other crypto-assets built on ethereum, as well as write, deploy and use smart contracts.

          a(href="https://github.com/ethereum/mist/releases/download/0.3.9/Ethereum-Wallet-macosx-0-3-9.zip").button.mac.ethereum-wallet 
            strong Download 
            | Ethereum Wallet for Mac OS X

          a(href="https://github.com/ethereum/mist/releases/download/v0.3.8/Ethereum-Wallet-win32-0-3-8.zip").button.win32.ethereum-wallet 
            strong Download 
            |  Ethereum Wallet for Windows 32 bits

          a(href="https://github.com/ethereum/mist/releases/download/0.3.9/Ethereum-Wallet-win64-0-3-9.zip").button.win64.ethereum-wallet 
            strong Download 
            |  Ethereum Wallet for Windows 64 bits

          a(href="https://github.com/ethereum/mist/releases/download/0.3.9/Ethereum-Wallet-linux64-0-3-9.zip").button.linux.ethereum-wallet 
            strong Download 
            |  Ethereum Wallet for Linux 64 bits
          
          a(href="https://github.com/ethereum/mist/releases/latest").allversions.button.ethereum-wallet 
            strong Download 
            |  Ethereum Wallet (all versions)

          a(href="https://github.com/ethereum/mist/releases/latest").allversions.ethereum-wallet.link See all versions

        div.col-md-6.whatis          
          figure.wallet.scrollme
            div.wallet-start.animateme(data-when="span", data-from="0.3", data-to="0.1", data-opacity="0", data-translatex="300")
            div.wallet-create.animateme(data-when="span", data-from="0.45", data-to="0.35", data-opacity="0")
            div.wallet-confirm.animateme(data-when="span", data-from="0.65", data-to="0.55", data-opacity="0", data-translatey="200")

      div.clearfix
        br
        br

  
  div.col-md-12.scrollme.main-menu
    div.breadcrumb.index.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
      strong Ethereum 
      a(href="#developer-resources") Developers
      a(href="#about-us") Foundation
      a(href="#community") Community
      a(href="#press") Press


  include ./includes/recipes.jade

  div.aleth-miner
    div.container
      div.row
        div.col-md-6.whatis.scrollme
          h2 One Click Miner
          h3 Support the network, get Ether 

          p The Ethereum network is not controlled by any individual institution, company or foundation, instead it is supported by thousands of volunteer computers who run the software to verify smart contracts and secure the network.

          p Since the software consumes real resources (bandwidth, electricity, etc) nodes are compensated with "Ether", an internal token that is used to pay for computation time.
          
          a(href="https://github.com/ethereum/webthree-umbrella/releases/latest").button Install the Aleth Miner

        div.col-md-6.whatis.scrollme
          figure.aleth-one.scrollme
            div.aleth-one-1.animateme(data-when="span", data-from="0.2", data-to="0.1", data-opacity="0", data-translatex="-500")
            div.aleth-one-2.animateme(data-when="span", data-from="0.4", data-to="0.35", data-opacity="0")
            div.aleth-one-3.animateme(data-when="span", data-from="0.45", data-to="0.4", data-opacity="0")
            div.aleth-one-4.animateme(data-when="span", data-from="0.5", data-to="0.45", data-opacity="0")
            div.aleth-one-5.animateme(data-when="span", data-from="0.55", data-to="0.5", data-opacity="0", data-scale="0.5", data-translatey="-100")


  div.power-tools
      div.container
        div.row
          div.col-md-6.whatis.scrollme
            figure.turbo.scrollme
              div.turbo-01.animateme(data-when="span", data-from="0.3", data-to="0.0", data-opacity="0", data-translatex="500")
              div.turbo-02.animateme(data-when="span", data-from="0.35", data-to="0.1", data-opacity="0", data-translatex="500")
              div.turbo-03.animateme(data-when="span", data-from="0.4", data-to="0.2", data-opacity="0", data-translatex="500")
              div.turbo-04.animateme(data-when="span", data-from="0.45", data-to="0.3", data-opacity="0", data-translatex="500")
              div.turbo-05.animateme(data-when="span", data-from="0.6", data-to="0.5", data-opacity="0", data-translatex="500")
          
          div.col-md-6.whatis.scrollme
            h2 Mix IDE
            h3 An IDE for the blockchain era

            p Mix is a full IDE for the Ethereum network. Develop decentralized applications, write smart contracts, inspect closely the compiled code and when you are ready it publishes, deployes and registers all the necessary contracts.
            
            a(href="https://github.com/ethereum/webthree-umbrella/releases/latest").button Download Mix


  div.command-line
      div.container
        div.row.scrollme
          div.col-md-6.whatis          
            h3 Or just get our command line tools

            p If you feel more confortable around a terminal, then you can just download our command line tools, built in Go, C++, Python, Java and others.

            a(href="/cli").button Install the Command line tools

          div.col-md-6.whatis          
            figure(data-when="span", data-from="0.8", data-to="0", data-opacity="0", data-translatey="300").geth-console.animateme


  script
    |  ((window.gitter = {}).chat = {}).options = {
    |    room: 'ethereum/welcome'
    |  };

  script(src="https://sidecar.gitter.im/dist/sidecar.v1.js", async, defer)


