extends layout

block content
  div.container
    div.row
      div.col-md-12
        h1 Install Ethereum

        pre ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Ethereum/install/master/install)"

      div.col-md-6
      	Paste that at a Terminal prompt.