extends layout

block content
  div.container.main-content
    div.row
      div.col-md-12
        h2 Install Ethereum

        pre ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Ethereum/install/master/install)"

      div.col-md-6 Paste that at a Terminal prompt.
      div.col-md-6 ...

      div.clearfix
        br

    div.row
      div.col-md-12
        h2 What does this script do
        p This script will detect your OS and install go-ethereum CLI.

    div.row
      div.col-md-12
        h2 Next steps
        p If the install was successful you can now run ethereum using the following command line in the Terminal prompt:

        pre ethereum

        p For more information about command line options please visit out #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/wiki") wiki].

    div.row
      div.col-md-12
        h2 Supported platforms
        p We currently support OS X and Ubuntu. For more information about installing ethereum on other platforms please visit our #[a(target="_blank", href="https://github.com/ethereum/go-ethereum/wiki") wiki].