extends layout

block vars
  - var title='Ethereum Project'

block content
  .main-tutorial.scrollme.intro
    .scrollme.row.introduction.animateme(data-when="span", data-from="0", data-to="1", data-opacity="0.2", data-translatey="300", data-easing="linear")
      h1.animateme(data-when="span", data-from="0", data-to="1", data-scale="0.75", data-translatey="100", data-easing="linear") Ethereum: Build unstoppable applications


  .legal-modal
    .legal-text
      .bad-robot
        img(src='images/bad-robot@2x.png', width='113')
        h3 Please agree to this before downloading
      include:markdown-it content/agreement.md
    a(href='#cancel').button-cancel Mmmm nevermind...
    a(href='#proceed').button-proceed Sure I understand and agree

  .main-content.build-apps
    .container
      .row
        .col-md-6
          h2 Build unstoppable applications

          p Ethereum is a
            strong decentralized platform that runs smart contracts
            | : applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third-party interference.

          p These apps run on a custom built
            strong blockchain, an enormously powerful shared global infrastructure that can move value around and represent the ownership of property.

          p This enables developers to create markets, store registries of debts or promises, move funds in accordance with instructions given long in the past (like a will or a futures contract) and many other things that have not been invented yet, all without a middleman or counterparty risk.

          p The project was bootstrapped via an ether presale in August 2014 by fans all around the world. It is developed by the
            a(href='./foundation') Ethereum Foundation
            |, a Swiss non-profit, with contributions from great minds across the globe.

        .col-md-6
          .row
            .col-md-12
              .server-figure.scrollme
                figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.25", data-to="0.26", data-opacity="0")
                  .explain-01.animateme(data-when="span", data-from="0.1", data-to="0", data-opacity="0.5", data-scale="0.8")

                figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.35", data-to="0.37", data-opacity="0")
                  .explain-02.animateme(data-when="span", data-from="0.26", data-to="0.25", data-opacity="0")

                figure.ethereum-explain.scrollme.animateme(data-when="span", data-from="0.5", data-to="0.6", data-opacity="0")
                  .explain-02b.animateme(data-when="span", data-from="0.37", data-to="0.35", data-opacity="0")

                figure.ethereum-explain.scrollme
                  .explain-03.animateme(data-when="span", data-from="0.6", data-to="0.5", data-opacity="0")

          .row
            .col-md-12.caption.caption-server-figure
              p On traditional server architectures, every application has to set up its own servers that run their own code in isolated silos, making sharing of data hard. If a single app is compromised or goes offline, many users and other apps are affected.

              p On a blockchain, anyone can set up a node that replicates the necessary data for all nodes to reach an agreement and be compensated by users and app developers. This allows user data to remain private and apps to be decentralized like the Internet was supposed to work.

  .main-content.wallet
    .container
      .row
        .col-md-6
          h2 Smart money, smart wallet

          p The
            strong Ethereum Wallet
            | is a gateway to decentralized applications on the Ethereum blockchain. It allows you to hold and secure ether and other crypto-assets built on Ethereum, as well as write, deploy and use smart contracts.

          a(href=mistReleaseOSX).button.mac.ethereum-wallet.require-legal
            strong Download
            | Ethereum Wallet for Mac OS X

          a(href=mistReleaseWin64).button.win64.ethereum-wallet.require-legal
            strong Download
            |  Ethereum Wallet for Windows 64 bits

          a(href=mistReleaseWin32).button.win32.ethereum-wallet
            strong Download
            |  Ethereum Wallet for Windows 32 bits (requires Command Line tools)

          a(href="https://github.com/ethereum/mist/releases/latest").button.linux.ethereum-wallet.require-legal
            strong Download
            |  Ethereum Wallet for Linux

          a(href="https://github.com/ethereum/mist/releases/latest").allversions.button.ethereum-wallet.require-legal
            strong Download
            |  Ethereum Wallet (Windows 64 bits, Linux and OS X)

          a(href="https://github.com/ethereum/mist/releases/latest").allversions.ethereum-wallet.link.require-legal See all versions

        .col-md-6
          .row
            .col-md-12
              .wallet-figure-outer.scrollme
                figure.wallet-figure.scrollme.animateme(data-when="span", data-from="0.425", data-to="0.475", data-opacity="0", data-translatey="-100")
                  .wallet-01.animateme(data-when="enter", data-from="0.9", data-to="0", data-opacity="0.5", data-scale="0.8", data-translatey="100")
                  .caption.animateme(data-when="enter", data-from="0.9", data-to="0.1", data-opacity="0.5", data-scale="0.8", data-translatey="100") Hold ether or any Ethereum-based token in safe wallets

                figure.wallet-figure.scrollme.animateme(data-when="span", data-from="0.67", data-to="0.68", data-opacity="0", data-translatey="-100")
                  .wallet-02.animateme(data-when="span", data-from="0.5", data-to="0.45", data-opacity="0", data-translatey="100")
                  .caption.animateme(data-when="span", data-from="0.5", data-to="0.45", data-opacity="0", data-translatey="100") Easy template-based contract creation

                figure.wallet-figure.scrollme
                  .wallet-03.animateme(data-when="span", data-from="0.7", data-to="0.675", data-opacity="0", data-translatey="100")
                  .caption.animateme(data-when="span", data-from="0.7", data-to="0.65", data-opacity="0", data-translatey="100") Your accessible interface to blockchain applications

  .col-md-12.scrollme.main-menu
    .breadcrumb.index.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
      strong Ethereum
      a(href="#community") Join the Community
      a(href="./donate").donation-button Donate

  include ./includes/recipes.pug

  .main-content.command-line
      .container
        .row.scrollme
          .col-md-6
            h3 Get the command line tools

            p If you feel more comfortable around a terminal, you can download our command line tools. We have different client implementations built in Go, C++, Python, Java and more.

            a(href="/cli").button.require-legal Install the command line tools

          .col-md-6
            figure(data-when="span", data-from="0.8", data-to="0", data-opacity="0", data-translatey="300").geth-console.animateme
