doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Holtwood+One+SC|Source+Sans+Pro:200')
    link(rel='stylesheet', href='/css/wicked-grit.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    //- link(rel='stylesheet', href='/css/styles/solarized_light.css')
    link(rel='stylesheet', href='/css/styles/github.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    include ./includes/head.jade

    block content

    include ./includes/footer.jade

    script(src="/js/jquery-1.11.2.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/highlight.pack.js")
    script(src="/js/script.js")