doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Holtwood+One+SC|Source+Sans+Pro:200')
    link(rel='stylesheet', href='/css/wicked-grit.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    //- link(rel='stylesheet', href='/css/styles/solarized_light.css')

    link(rel='stylesheet', href='/css/styles/github.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css')
  body
    include ./includes/head.jade

    block content

    include ./includes/footer.jade

    script(src="/js/jquery-1.11.2.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/jquery.scrollme.min.js")
    script(src="/js/script.js")
    script(src="/js/jquery.tableofcontents.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")

    script
        | $(document).ready(function(){ 
        |     $("#toc").tableOfContents(
        |       $(".main-tutorial"),      // Scoped to div#wrapper
        |       {
        |         startLevel: 2,    // H2 and up
        |         depth:      3    // H2 through H4,
        |       }
        |     ); 
        |   });
        | var el = $("div.main-tutorial.part1");
        | var handler = onVisibilityChange(el);
        | //jQuery
        | $(window).on('DOMContentLoaded load resize scroll', handler); 
        | $("input#understand").click($(".main-tutorial").show()); 

    script
        |    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        |    (i[r].q=i[r].q||[]).push(arguments)
        |    },i[r].l=1*new Date();a=s.createElement(o),
        |    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        |    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        |    ga('create', 'UA-47404697-1', 'auto');
        |    ga('send', 'pageview');
