doctype html
block vars
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    title= title


    meta(name="description", content="Ethereum is a decentralized platform for applications that run exactly as programmed without any chance of fraud, censorship or third-party interference.")

    //- Twitter Card data
    meta(name="twitter:card", value="summary")

    //- Open Graph data
    meta(property="og:title", content=title)
    meta(property="og:type", content="article")
    meta(property="og:url", content="https://www.ethereum.org/")
    meta(property="og:image", content="https://ethereum.org/images/wallpaper-medium.jpg")
    meta(property="og:image:width", content="500")
    meta(property="og:image:height", content="500")

    meta(property="og:description", content="Ethereum is a decentralized platform for applications that run exactly as programmed without any chance of fraud, censorship or third-party interference.")

    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,900,400italic' rel='stylesheet' type='text/css')
    //- link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Holtwood+One+SC|Source+Sans+Pro:200')
    link(rel='stylesheet', href='/css/frontier.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css')
  body
    include ./includes/head.jade

    block content

    include ./includes/footer.jade

    script(src="/js/frontier.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")

    script
        | $(document).ready(function(){
        |     $("#toc").tableOfContents(
        |       $(".main-tutorial"),      // Scoped to div#wrapper
        |       {
        |         startLevel: 2,    // H2 and up
        |         depth:      3    // H2 through H4,
        |       }
        |     );
        |   });

    script
        |    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        |    (i[r].q=i[r].q||[]).push(arguments)
        |    },i[r].l=1*new Date();a=s.createElement(o),
        |    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        |    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        |    ga('create', 'UA-47404697-1', 'auto');
        |    ga('send', 'pageview');
