extends layout

block content
  include mixins/recipes.jade
  +inner-header("Powered by ethereum")

  div.main-tutorial.inner-page.foundation-page
    div.container  
      div.row
        div.col-md-12
          include:md content/powered-by.md        





          

