extends layout

block vars
  - var title='Privacy Policy'
  - var url='privacy-policy'


block content
  include mixins/recipes.jade
  div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum 
    strong »  Privacy Policy

  div.main-tutorial.even
    div.container
      div.row
        div.col-md-12
          h2 Privacy Policy
          include:md content/privacy.md
  