extends layout

block vars
  - var title='Swarm'
  - var url='swarm'

block content
  include mixins/recipes.jade

  div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Swarm 
    strong » Data Layer for ethereum

  div#tutorial-start.main-tutorial.swarm-page.inner-header.inner-page
    div.container
      div.row
        div.col-md-6.tutorial.scrollme
          +swarmFigure

        div.col-md-6.tutorial.scrollme
          div.header-title
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") Swarm
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear")  The data layer and incentive for ethereum

  div.main-tutorial.inner-page.inner-tutorial
    div.container  
      div.row                
        +toc
        div.col-md-12
          include:md content/swarm.md        
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/swarm.md') Improve this page

        




          

