extends layout

block vars
  - var title='Websites Terms of Use'
  - var url='privacy-policy'


block content
  include mixins/recipes.pug
  .breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum 
    strong »  Terms of Use

  .main-tutorial.even
    .container
      .row
        .col-md-12
          h2 Terms of Use
          include:markdown-it content/terms.md
          