extends layout

block vars
  - var title='Create a cryptocurrency contract in Ethereum'

block content
  include mixins/recipes.jade
  include warning.jade
  div.breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum Frontier
    strong »  Create your own crypto-currency
    a(href="/greeter").previous Previous
    a(href="/crowdsale").next Next

  div#tutorial-start.main-tutorial.hidden.inner-tutorial.even
    div.container
      div.row
        div.col-md-12.tutorial.scrollme


          +tokenFigure

          h2.animateme(data-when="span", data-from="0.6", data-to="0.3", data-opacity="0", data-translatey="200") Create your own crypto-currency

          h3.center.animateme(data-when="span", data-from="0.7", data-to="0.5", data-opacity="0", data-translatey="200") A tradeable digital token that follows your rules

          a(href="#warning").cannot-continue You cannot continue until you read and understand the dangers

  div.main-tutorial.hidden.inner-tutorial
    div.container
      div.row
        div.col-md-12
          +thawing
          include:md content/token.md

  div.main-tutorial.hidden.even
    div.container
      div.row
        div.col-md-12.tutorial
          +crowdsaleRecipe("What's next?")
