extends layout

block vars
  - var title='Create a cryptocurrency contract in Ethereum'
  - var url='token'
  - var image='token'

block content
  include mixins/recipes.pug
  .breadcrumb.animateme(data-when="enter", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
    a(href="/").index Ethereum
    strong »  Create your own crypto-currency
    a(href="/crowdsale").next Next

  div#tutorial-start.main-tutorial.token-tutorial.inner-header.inner-page.even
    .container
      .row
        .col-md-6.tutorial.scrollme
          +tokenFigureExit

        .col-md-6.tutorial.scrollme
          .header-title
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear") Create your own
            h2.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="400", data-easing="linear") crypto-currency
            h3.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="200", data-opacity="0", data-easing="linear") with Ethereum


  .main-tutorial.inner-tutorial
    .container
      .row.scrollme
        +toc
        .col-md-12
          include:markdown-it(plugins=['markdown-it-include']) content/token.md
          a.button.small(href='https://github.com/ethereum/ethereum-org/edit/master/views/content/token.md') Improve this page

  .main-tutorial.even
    .container
      .row
        .col-md-12.tutorial
          +crowdsaleRecipe("What's next?")
