div#warning.warning
    div.container
      div.row
        div.col-md-12.scrollme
          a(href="/").back « Go back to main page

          figure.bad-robot.animateme(data-when="span", data-from="1", data-to="0", data-translatey="80")
          h2 ATTENTION
          h3 Frontier is an early access to the Ethereum network. Bugs and security issues might be present.

          ul.short-terms.animateme(data-when="span", data-from="0.2", data-to="0", data-opacity="0.2") 
            li You are responsible for your own computer security. If your machine is compromised you will lose your ether and access to any contracts
            li You are responsible for your own actions. Be aware of your local regulations including but not limited to: cryptography, data management, privacy, crypto assets, pornography, user content, online harassement, speech and any other laws that might apply to you
            li You are responsible for your own karma. Don't be a jerk and respect everyone.
            li This software is licensed under a GPL/MIT license.

          a(href="/agreement").terms Read full terms of the agreement
          a#agreement.button I understand this, let me proceed

          


      div.clearfix
        br
        br
