div#warning.warning
    .container
      .row
        .col-md-12.scrollme
          a(href="/").back « Go back to main page

          figure.bad-robot.animateme(data-when="span", data-from="1", data-to="0", data-translatey="80")
          h2 ATTENTION
          h3 Frontier is an early access to the Ethereum network. Bugs and security issues might be present. Before downloading you have to agree to the terms that follow and the full terms linked below.

          ul.short-terms.animateme(data-when="span", data-from="0.2", data-to="0", data-opacity="0.2")
            li The user expressly knows and agrees that the user is using the Ethereum platform at the user’s sole risk.
            li The user represents that the user has an adequate understanding of the risks, usage and intricacies of cryptographic tokens and blockchain-based open source software, eth platform and eth.
            li The user acknowledges and agrees that, to the fullest extent permitted by any applicable law, the disclaimers of liability contained herein apply to any and all damages or injury whatsoever caused by or related to risks of, use of, or inability to use, eth or the Ethereum platform under any cause or action whatsoever of any kind in any jurisdiction, including, without limitation, actions for breach of warranty, breach of contract or tort (including negligence) and that neither Stiftung Ethereum nor ethereum team shall be liable for any indirect, incidental, special, exemplary or consequential damages, including for loss of profits, goodwill or data.
            li Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for certain types of damages. Therefore, some of the above limitations in this section may not apply to a user. In particular, nothing in these terms shall affect the statutory rights of any user or exclude injury arising from any willful misconduct or fraud of Stiftung Ethereum.
            li The user has read, understands and agrees to the
              a(href="/agreement") full terms of the legal agreement


          a(href="/agreement").terms Read full terms of the agreement
          a#agreement.button I understand this, let me proceed

      .clearfix
        br
        br
