body {
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Wicked-Grit', serif;
	letter-spacing: -1px;
	margin: 10px 0;
	font-weight: 400;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	background: url('../images/bg_hr.png') repeat-x bottom;
	font-size: 28px;
	text-transform: uppercase;
	color: #b9a360;
	padding-bottom: 10px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	margin: 10px 0 15px 0;
}

a {
	color: #d19020;
}

a:hover {
	color: #b5670b;
	cursor: pointer;
}

.container {
	max-width: 970px;
}

.btn {
	text-transform: uppercase;
	font-family: 'Holtwood One SC', serif;
	font-size: 13px;
	letter-spacing: -1px;
}

header, footer {
	padding: 20px 0px;
	color: #8A92B2;
	color: #fafafa;
}

header {
	height: 1000px;
	background: url('../images/header.jpg') top center no-repeat;
	background-size: 1920px auto;
}

#block-content {
	background: #1f0c05;
	padding-top: 10px;
	padding-bottom: 15px;
}

#block-content h6 {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #b9a360;
	margin-bottom: 0px;
}

#block-content span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #F6E6CC;
	font-smooth: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
}

.main-content {
	padding-top: 40px;
	color: #F6E6CC;
	background: #1f0c05;
}

ul {
	padding-left: 20px;
}

.terms-checkbox {
	margin-right: 30px;
	margin-top: 6px;
}

.terms-checkbox input {
	margin-right: 10px;
}

pre, code {
	background: #F6E6CC;
}

footer {
	background: url('../images/bg-footer.png') top center #161c30;
	background-size: 1920px auto;
	font-size: 14px;
	border-top: 3px solid #eb453e;
	color: #F6E6CC;
}